{% extends 'base.html' %}

{% block tittle %}
    Сбросить пароль
{% endblock %}

{% block content %}
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-8 p-5">
                <div class="card">
                    <div class="card-header">
                        Чтобы сбросить старый пароль — введите адрес электронной почты, под которым вы регистрировались
                    </div>
                    <div class="card-body">
                        {% include 'users/includes/form.html' %}
                        <button type="submit" class="btn btn-primary">
                            Сбросить пароль
                        </button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
